size()
  if length(arguments) == 1
    height: arguments[0]
    width: arguments[0]
  else
    height: arguments[1]
    width: arguments[0]

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block} 

focus()
  &:focus
    box-shadow 0 0 0 3px alpha($blue, 0.25)
    outline none